@charset "utf-8";
/* CSS Document */

/*General Styling*/
body
{
	background-color:#ffb3ec;
}

h1
{
	text-align: center;
	font-size: 40px;
	color: #800060;	
}

h2
{
	color:#800060;
	text-align: center;
	font-size: 30px;
}

h3
{
	color:#800060;
}

figure
{
	text-align: center;
	color:#800060;
	font-size: 24px;
	padding-top: 40px;
}

footer
{
	padding-top: 60px;
}

#slider
{
	width: 200px;
	margin-left: 50%;	
}

header
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#button_regular
{
	padding: 20px;
	width: 200px;
	height:150px;
	border-radius: 10px;
	text-align: center;
}











