@charset "utf-8";
/* CSS Document */

/*General Styling*/
body
{
	background-color:#ffb3ec;
}
header h1
{
	text-align: center;
	font-size: 40px;
	color: #800060;	
}
h2
{
	color:#800060;
	text-align: center;
	font-size: 30px;
}
h3
{
	color:#800060;
}
figure
{
	text-align: center;
	color:#800060;
	font-size: 24px;
	padding-top: 40px;
}
footer
{
	/*padding-top: 60px;*/
}
header
{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*The styling section*/
#button_regular
{
	width: 120px;
	height:60px;
	padding:15px;
	background-color:#e0e0eb;
	/*text-align: center;*/
	margin-left: 40%;
	font-size: 20px;
	color: black;
	font-weight:4px;
	border: solid 1px black;
}
.slider
{
	width: 200px;
	height:20px;
}
.name
{
	font-size: 20px;
	color:#800060;
}
button
{
	margin-left: 55%;
	margin-top:20px;
	color:purple;
}
form label
{
	font-size: 20px;
	color:#800060;
}
form input
{
	width:200px;
	height:30px;
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}








