@charset "utf-8";
/* CSS Document */

/*General Styling*/
body
{
	background-color:#ffb3ec;
}
header h1
{
	text-align: center;
	font-size: 40px;
	color: #800060;	
}
h2
{
	color:#800060;
	text-align: center;
	font-size: 30px;
}
h3
{
	color:#800060;
}
figure
{
	text-align: center;
	color:#800060;
	font-size: 24px;
	padding-top: 40px;
}
footer
{
	/*padding-top: 60px;*/
}
header
{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*The styling section*/
#button_regular
{
	width: 120px;
	height:80px;
	/*border-radius: 10px;*/
	text-align: center;
	margin-left: 40%;
	font-size: 20px;
	color: blueviolet;
	border: solid 2px purple;
}
.slider
{
	width: 200px;
	height:20px;
	/*margin-left: 45%;*/
}
.name
{
	/*margin-left: 45%;*/
}
button
{
	margin-left: 45%;
	margin-top:20px;
}
input
{
	/*margin-left: 45%;*/
}
form label
{
	font-size: 20px;
	color:#800060;
	/*margin-left: 45%;*/
}
form input
{
	width:200px;
	height:30px;
	/*margin-left: 45%;*/
}








